
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create";
}
<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="~/Content/sweetalert2.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <script src="~/Angular/angular.js"></script>
    <script src="~/Angular/Admin.js"></script>
    <!--icon eye-->
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="~/Scripts/iEdit.min.js"></script>
    <link href="~/Content/Form.css" rel="stylesheet" />
</head>
<body ng-controller="Admin">

    @*<br />*@
    <!--Targeta de bienbenida-->
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">BIENVENIDO AL SISTEMA DE SERVICIOS DE SALUD...</h3>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        El Usuario al que registrara tendra cuenta activa modifica si es necesario
                    </p>
                </div>
            </div>
            <div class="text-left">
                <p>
                    Abandonar esta Pagina
                    <button type="button" class="btn btn-outline-danger" ng-click="irIndex()">Regresar</button>
                </p>
            </div>
        </div>
    </div>

    <br />
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Sistema para atender emergencias de salud ...</h3>

            </div>
        </div>
    </div>


    <!--formulario-->
    <form class="row" id="basic-form">
        <div class="col-md-12">
            <h3 class="text-center">Registro</h3>
        </div>

        <div class="form__terminos">
            <div class="maxl">
                <label class="radio inline">
                    <input type="hidden" ng-model="Estado" id="Estado" value="True" checked>
                    <!--<input type="hidden" ng-model="fecha_registro" id="fecha_registro" >-->
                </label>
            </div>
        </div>
        <!--Campos de los fomularios-->
        <div class="col-md-12 form-group">
            <input  ng-model="Nombres" type="text" class="form-control" placeholder="Nombre Completo" required />
        </div>
        <div class="col-md-12 form-group">
            <input ng-model="Apellidos" type="text" class="form-control" placeholder="Apellidos" required />
        </div>
        <div class="col-md-12 form-group">

            <input class="form-control" ng-model="Sexo" type="text" placeholder="sexo">
        </div>
        <div class="col-md-12 form-group">
            <input ng-model="Dui" type="text" class="form-control" placeholder="dui" required />
        </div>

        <div class="col-md-12 form-group">
            <input pattern="^[9|8|7|6]\d{7}$" ng-model="Telefono" class="form-control" placeholder="Telefono" required />
        </div>
        <div class="col-md-12 form-group">
            <input ng-model="Usuario" class="form-control" placeholder="Usuario" required />
        </div>
        <div class="col-md-12 form-group">
            <input type="text" id="email" minlength="3" ng-model="Email" class="form-control" placeholder="correo" required />
        </div>
        <div class="col-md-12 form-group">
            <label for="departamento">
                <input type="password" ng-model="Password" class="form-control password1" value="clave" placeholder="Ingrese una contraseña" />
                <span class="fa fa-fw fa-eye password-icon show-password"></span>
            </label>
        </div>
        <!--Imagen-->
        <div class="col-md-12 form-group">
            <label class="control-label col-md-2" for="File">Perfil</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" id="File" name="File" type="file" value="" />
                <span class="field-validation-valid text-danger" data-valmsg-for="File" data-valmsg-replace="true"></span>
            </div>
        </div>

        <img id="ImagenR" name="ImagenR">
        <input type="hidden" class="custom-file-input  form-control-lg" ng-model="Imagen" id="Imagen" />
        <!--imagen-->

        <div class="col-md-12 form-group">
            <button type="submit" id="send" class="btn btn-primary" ng-click="AgregarAdmin()">Guardar</button>
        </div>
    </form>

    <script>
            //IMAGEN RECORT AND SAVE
            $("#File").change(function (e) {
                var img = e.target.files[0];
                if (!iEdit.open(img, true, function (res) {
                    $("#ImagenR").attr("src", res);
                    $("#Imagen").val(res);
                    console.log(res);
                })) {
                    alert("Selecciona una imagen");
                }
            });

    //SHOW ICON EYE
        window.addEventListener("load", function () {

            // icono para mostrar contraseña
            showPassword = document.querySelector('.show-password');
            showPassword.addEventListener('click', () => {

                // elementos input de tipo clave
                password1 = document.querySelector('.password1');
                password2 = document.querySelector('.password2');

                if (password1.type === "text") {
                    password1.type = "password"
                    password2.type = "password"
                    showPassword.classList.remove('fa-eye-slash');
                } else {
                    password1.type = "text"
                    password2.type = "text"
                    showPassword.classList.toggle("fa-eye-slash");
                }

            })

        });
    </script>
    <link href="~/Content/iEdit.min.css" rel="stylesheet" />

    <div class="container body-content">
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>
</body>
</html>
