
@{
    Layout = null;

    ViewBag.Title = "Login";

    if (TempData["msg"] != null)
    {
        <script>
            window.onload = function () {
                alert('@TempData["msg"]');
            }
        </script>
    }
}



<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--ey-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="~/Content/sweetalert2.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert2.all.min.js"></script> 
    <script src="~/Angular/angular.js"></script>
    <script src="~/Angular/Admin.js"></script>
  
    <style>
        .font {
            background-image: url('../../Content/Images/Hospital.jpg');
        }
    </style>
</head>
<body class="font" ng-controller="Admin">
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
       
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Login</h3>
                        <br />
                        <div class="row"  autocomplete="off" >
                            <div class="col-md-12 form-group">
                                <label for="email">Email address</label>
                                <input id="Email" class="form-control" ng-model="Usuario" type="text" placeholder="Usuario" autofocus="autofocus"  required>
                            </div>
                            @*<div class="col-md-12 form-group">
                                <label for="email">Contraseña</label>
                                <input id="Email" class="form-control" ng-model="Password" type="text" placeholder="Contraseña" required>
                            </div>*@
                            <label for="email"> Contraseña</label>
                                <div class="col-md-12 form-group">
                               
                                    <input type="Password" class="form-control" id="Password" ng-model="Password" placeholder="Digite su contraseña" required />
                                    <button id="ShowPassword" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                                    @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "form__input" })*@

                                </div>
                   

                            <div class="col-md-12">
                                <p>¿No tienes una cuenta? <a href="@Url.Action("Create", "Admin")">Registrarse</a></p>
                                <br />
                                <p class="text-right">
                                    <button class="btn btn-primary" ng-click="Login()">Iniciar Sesión</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">BIENVENIDO AL SISTEMA DE SERVICIOS DE SALUD..</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center">
                                    Registrate, Como administrador tendras acceso crear cuentas de usuarios y verificar que cada usuario hace buen uso del sistema
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
      
        </div>
    </div>



    <!--mostrar contraseña-->
    <script type="text/javascript">
    function mostrarPassword() {
           var cambio = document.getElementById("Password");
		if(cambio.type == "Password"){
			cambio.type = "text";
			$('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
		}else{
			cambio.type = "password";
			$('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
		}
	}

	$(document).ready(function () {
	//CheckBox mostrar contraseña
	$('#ShowPassword').click(function () {
		$('#Password').attr('type', $(this).is(':checked') ? 'text' : 'Password');
	});
   });
    </script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>


