
@{
    Layout = null;

    ViewBag.Title = "Login";

    if (TempData["msg"] != null)
    {
        <script>
            window.onload = function () {
                alert('@TempData["msg"]');
            }
        </script>
    }
}



<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--icon eye-->
    <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

    <link href="~/Content/sweetalert2.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert2.all.min.js"></script> 
    <script src="~/Angular/angular.js"></script>
    <script src="~/Angular/Admin.js"></script>
  
    <style>
        .font {
            background-image: url('../../Content/Images/Hospital.jpg');
        }
        .password-icon {
               float: right;
              position: relative;
              margin: -25px 10px 0 0;
              cursor: pointer;
       }
    </style>
</head>
<body class="font" ng-controller="Admin">
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
       
            <div class="col-md-4" autocomplete="off">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Login</h3>
                        <br />
                        <div class="row">
                            <div class="col-md-12 form-group" style="text-align:center">
                                <label for="email">Usuario</label>
                                <input id="Email" class="form-control" ng-model="Usuario" type="text" placeholder="correo o nombre Usuario " autofocus="autofocus"  required>
                            </div>
                            <div class="col-md-12 form-group" style="text-align:center">
                                <label for="departamento"> password </label>
                                <input  id="Email" type="password" ng-model="Password" class="form-control password1" value="clave" placeholder="Ingresa tu contraseña" />
                                <span class="fa fa-fw fa-eye password-icon show-password"></span>
                            </div>
                            <div class="col-md-12">
                                <p>¿No tienes una cuenta? <a href="@Url.Action("Create", "Admin")">Registrarse</a></p>
                                <br />
                                <p class="text-right">
                                    <button class="btn btn-primary" ng-click="Login()">Iniciar Sesión</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">BIENVENIDO AL SISTEMA DE SERVICIOS DE SALUD..</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-center">
                                    Registrate, Como administrador tendras acceso crear cuentas de usuarios y verificar que cada usuario hace buen uso del sistema
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
      
        </div>
    </div>

    <!--icon eye-->
    <script>
        window.addEventListener("load", function () {

            // icono para mostrar contraseña
            showPassword = document.querySelector('.show-password');
            showPassword.addEventListener('click', () => {

                // elementos input de tipo clave
                password1 = document.querySelector('.password1');
                password2 = document.querySelector('.password2');

                if (password1.type === "text") {
                    password1.type = "password"
                    password2.type = "password"
                    showPassword.classList.remove('fa-eye-slash');
                } else {
                    password1.type = "text"
                    password2.type = "text"
                    showPassword.classList.toggle("fa-eye-slash");
                }

            })

        });
    </script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>


