
@{
    ViewBag.Title = "Modificar";
}


<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="~/Content/sweetalert2.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
    <script src="~/Angular/angular.js"></script>
    <script src="~/Angular/UsuariosHospitales.js"></script>
</head>
<body ng-controller="UsuariosHospitales"    data-ng-init="GetUsuarioById(@Convert.ToInt32(Request.QueryString["id"]))"      @*data-ng-init="GetUsuarioById(@Convert.ToInt32(Request.QueryString["id"]))"*@>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4">Modificar</h1>
                        <p class="lead">Descripcion.</p>
                        <button type="button" class="btn btn-outline-danger" ng-click="irIndex()">Regresar</button>
                    </div>
                </div>
            </div>

        </div>
      

        <form class="row">
            <div class="col-md-12">
                <h3 class="text-center">Modificar Usuarios </h3>
            </div>
            <div class="col-md-12 form-group">
                <input type="hidden" ng-model="register.NombreUsuario" class="form-control" />
            </div>

            <div class="col-md-12 form-group">
                <label>Nombre usuario</label>
                <input ng-model="register.NombreCompleto" class="form-control" />
            </div>
            <div class="col-md-12 form-group">
                <label>Apellidos</label>
                <input ng-model="register.Apellidos" class="form-control" />
            </div>
            <div class="col-md-12 form-group">
                <label>Direccion</label>
                <input ng-model="register.Direccion" class="form-control" />
            </div>
            <div class="col-md-12 form-group">
                <label>Dui</label>
                <input ng-model="register.Dui" Direccionclass="form-control" />
            </div>
            <div class="col-md-12 form-group">
                <label>Telefono</label>
                <input ng-model="register.Telefono" class="form-control" />
            </div>
            <div class="col-md-12 form-group"> 
                <label>Email</label>
                <input ng-model="register.Email" class="form-control" />
            </div>
            <div class="col-md-12 form-group">
                <label>Password</label>
                <input ng-model="register.Password" class="form-control" />
            </div>
            <div class="col-md-12 form-group">
                <p class="text-right">
                    <input type="button" ng-click="reset()" value="Limpiar" />
                    @*<button class="btn btn-primary" ng-click="Modificar(UsuariosHopitales.NombreUsuario)">Guardar</button>*@
                    @*<button class="btn btn-primary" ng-click="Modificar()">Guardar</button>*@

                    <!---->
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" ng-click="updatedata()" value="{{btntext}}" />
                    </div>
                    <!---->

                </p>
                <br />
                <br />
                <br />
            </div>

        </form>




    </div>



    <div class="container body-content">
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>
</body>
</html>



