
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>


<div id="contenido">
    <div class="principal">
        <img src="~/img/Fondo.svg" alt="shopping" />
    </div>

    <div class="aside">
        <h2>Iniciar Sesión</h2>
        <form method="post" action="@Url.Action("Login", "Cliente")">
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="Nick" class="form-control" />
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" name="Pass" class="form-control" />
            </div>
            <button type="submit" class="btn btn-info btn-block">Ingresar</button>
        </form>

        <hr />
        <p>Eres nuevo por acá. <a href="@Url.Action("Registro", "Cliente")">Registrarse</a></p>

    </div>
</div>